# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# VS Code
# -----------------------------
.vscode/settings.json

# -----------------------------
# Operating System Files
# -----------------------------
Thumbs.db
.DS_Store

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/

# -----------------------------
# Logs
# -----------------------------
*.log